<p>Estado inicial: Se muestra texto:</p>

<div class="container">

  <a> <i class="material-icons"> home </i> Icono 1 </a>     

  <a> <i class="material-icons"> arrow_back </i> Icono 2 </a>       

  <a> <i class="material-icons"> help_outline </i> Icono 3 </a>      

  <a> <i class="material-icons"> notifications </i> Icono 4 </a>     

  <a> <i class="material-icons"> exit_to_app </i> Icono 5 </a>      

</div>


<p>Solución 1: Código de icono</p>     <!-- Codigo de icono -->

<div class="container">

  <i class="material-icons"> &#xe88a; </i> <a> Icono 1 </a>      <!-- home --> 

  <i class="material-icons"> &#xe5c4; </i> <a> Icono 2 </a>      <!-- arrow_back --> 

  <i class="material-icons"> &#xe8fd; </i> <a> Icono 3 </a>      <!-- help_outline -->

  <i class="material-icons"> &#xe7f4; </i> <a> Icono 4 </a>      <!-- notifications -->

  <i class="material-icons"> &#xe879; </i> <a> Icono 5 </a>      <!-- exit_to_app -->

</div>


<p>Solución 2: Opacidad con delay</p>      <!-- Modificando opacidad con delay -->

<div class="container">

  <a class="myicon"> <i class="material-icons"> home </i> Icono 1 </a> 
  
  <a class="myicon"> <i class="material-icons"> arrow_back </i> Icono 2 </a>       

  <a class="myicon"> <i class="material-icons"> help_outline </i> Icono 3 </a>      

  <a class="myicon"> <i class="material-icons"> notifications </i> Icono 4 </a>     

  <a class="myicon"> <i class="material-icons"> exit_to_app </i> Icono 5 </a>         

</div>


<p>Solución 3: Opacidad desp. de carga</p>      <!-- Modificando opacidad con onreadystatechange -->

<div class="container">

  <a class="theicon"> <i class="material-icons"> home </i> Icono 1 </a> 
  
  <a class="theicon"> <i class="material-icons"> arrow_back </i> Icono 2 </a>       

  <a class="theicon"> <i class="material-icons"> help_outline </i> Icono 3 </a>      

  <a class="theicon"> <i class="material-icons"> notifications </i> Icono 4 </a>     

  <a class="theicon"> <i class="material-icons"> exit_to_app </i> Icono 5 </a>         

</div>



